<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>challenge idwall - fiap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
    <style>
        body {
            background-color: #0f0e17;
        }
        h1, p {
            padding-top: 40px;
            text-align: center;
            font-family: 'Staatliches', cursive;
        }
        h1
        {
            color: #fffffe;
        }
        p
        {
            color: #a7a9be ;
        }
    </style>
<h1>Wanted by the fbi</h1>
<p>challenge idwall</p>
</body>
</html>